/testcode/reposilite-test/dependency-project/pom.xml
/testcode/reposilite-test/dependency-project/target
/testcode/reposilite-test/dependent-project/pom.xml
/testcode/reposilite-test/dependent-project/target
/testcode/reposilite-test/user.home/**
testcode/reposilite-test/user.home/.m2/settings.xml
/testcode/reposilite-test/reposilite-data/**
/testcode/reposilite-test/user.home/apache-maven-3.9.5/
/testcode/**/target/**
!/testcode/reposilite-test/user.home/.m2/settings.xml.template
!/testcode/reposilite-test/user.home/.m2/settings-security.xml
!testcode/reposilite-test/reposilite-data/shared.configuration.json
